* { 
    background-color: grey;
}

body {
    font-family: 'Niramit', sans-serif;
}
main {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 200px;
    margin: 10px;
    border-radius: 20px;
}

