* { 
    background-color: grey;
}

body {
    font-family: 'Niramit', sans-serif;
}
main {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

section{
    width: 400px;
    font-size: 10px;
}
img {
    width: 300px;
    margin: 5px;
    border-radius: 20px;
}

.pagination {
    display: inline-block;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination a.active{
    background-color: lightcoral;
    color: white;
}

